/* media queries */
@media all and (min-width: 240px) {
    .products li {width:150px;}
    .products li .ms_image{height: 150px;}
    .ms_large{height: 230px; overflow: hidden;}
}
@media all and (min-width: 320px) {
    .products li {width:250px;}
    .products li .ms_image{height: 180px;}
}
@media all and (min-width: 360px) {
    .products li {width:290px;}
    .products li .ms_image{height: 180px;}
    .ms_large{height: 230px; overflow: hidden;}
}
@media all and (min-width: 480px) {
    .products li {width:250px;}
    .products li .ms_image{height: 180px;}
    .ms_large{height: 330px; overflow: hidden;}
}
@media all and (min-width: 533px) {
    .products li {width:460px;}
    .products li .ms_image{height: 330px;}
}
@media all and (min-width: 600px) {
    .products li {width:530px;}
    .products li .ms_image{height: 330px;}
}
@media all and (min-width: 768px) {
    .tt-menu, .tt-menu ul {width:175px;}
    .tt-menu ul {left:174px;}
    .products li {width:240px;}
    .products li .ms_image{height: 130px;}
    .ms_large{ height: 160px; overflow: hidden;}
}
@media all and (min-width: 1024px) {
    .tt-menu, .tt-menu ul {width:220px;}
    .tt-menu ul {left:219px;}
    .products li {width:200px;}
    .products li .ms_image{  height: 140px;}
    .ms_large{ height: 250px; overflow: hidden;}
}
@media all and (min-width: 1280px) {
    .tt-menu, .tt-menu ul {width:250px;}
    .tt-menu ul {left:249px;}
    .products li {width:190px;}
    .products li .ms_image{height: 180px;}
}