.tt-menu {
    padding: 0;
    margin: 0;
}

.tt-menu li {
    position: relative;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: #353535;
    border-bottom: 1px #6e6e6e solid;
    border-left: 1px #6e6e6e solid;
}

.tt-menu li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 7px 15px 7px 10px;
}

.tt-menu ul {
    display: none;
    position: absolute;
    left: 219px;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 100;
}

.tt-menu , .tt-menu ul {
    width: 220px;
}

.level-item {
    background: #353535 url(@site_urlplugins/mycatalog/lib/css/images/level-item.png) 220px center no-repeat !important;
}

.level-item2 {
    background: #353535 url(@site_urlplugins/mycatalog/lib/css/images/level-item.png) 220px center no-repeat !important; /* Стиль пункта, у которого есть подменю */
}

.tt-menu .active {
    background: #000 !important;
}

.tt-menu-horizontal {
    width: 100%;
    background: #353535;
    padding: 0;
    margin: 0;
    height: 30px;
    border-radius:7px; 
    -webkit-border-radius:7px; 
    -moz-border-radius:7px; 
}

.tt-menu-horizontal li {
    float: left;
    width: 160px;
    background: #353535;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-right: 1px #6e6e6e solid;
    position: relative;
    border-radius:7px; 
    -webkit-border-radius:7px; 
    -moz-border-radius:7px; 
}

.tt-menu-horizontal li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 7px 15px 7px 10px;
}

.tt-menu-horizontal ul {
    display: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 30px;
    left: 0;
}

.tt-menu-horizontal lu li {
    float: none;
}

.tt-menu-horizontal-right ul {
    left: 160px;
    top: 0;

}

.tt-menu-horizontal-right li {
    border: 0;
    border-bottom: 1px #6e6e6e solid;
    border-left: 1px #6e6e6e solid;
}
