
/*
@media all and (min-width: 240px) {}
@media all and (min-width: 320px) {}
@media all and (min-width: 480px) {}
@media all and (min-width: 768px) {}
@media all and (min-width: 1024px) {}
*/
img { -ms-interpolation-mode: bicubic; }

/*  Product large img
======================*/
.ms_large{border: 1px solid #F3F3F3;}


/*  Product small list img
===========================*/
.ms_tumbs{}
.ms_tumbs ul {margin:0;list-style: none;}
.ms_tumbs ul li {display: inline-block;padding-right: 5px;padding-left: 5px;}
.ms_tumbs ul li a{text-decoration: none;}
@media all and (min-width: 768px) {.ms_tumbs ul li {padding-right: 0;}}



/*  Tumbs
===========*/
.miniTumb{width:52px;height:52px;max-width:52px;max-height:52px;margin:0;padding:0;}

/*  Clearfix
==================*/
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix{display:inline-table;}
* html .clearfix{height:1%;}
.clearfix{display:block;}


/*  Float
==================*/
.pull-left{float:left;}
.pull-right{float:right;}


/*  alert info
==================*/
.alert{padding:5px;margin:5px;}
.alert-info{  background:white;  border:1px solid #d5d5d5; color:#999;}


/*  media info
==================*/
.media,
.media-body {  overflow: hidden;  *overflow: visible;  zoom: 1;}
.media,
.media .media {  margin-top: 15px;}
.media:first-child {  margin-top: 0;}
.media-object {  display: block;}
.media-heading {  margin: 0 0 5px;}
.media > .pull-left {  margin-right: 10px;}
.media > .pull-right {  margin-left: 10px;}
.media-list {  margin-left: 0;  list-style: none;}

/*  media info
==================*/
strong{font-weight:bold !important;}


/*  Product
======================*/
.product .item_name,.product .item_name a{text-align:center;font-family:verdana;color:#000;text-decoration: none;display: block}
.product .item_add,
.product-view{padding:2px 5px 2px 5px;text-decoration:none !important;display:inline;}
.product .item_price{text-decoration:none !important;padding:2px 5px 2px 5px;}
.product-total{
    display:block;
    padding:5px;
    margin-top:5px;
    margin-bottom:10px;
}
.product-Info{
    display:inline-block;
    background:#FFF;
    position:relative;
    border:1px solid #F0F0F0;
    color:#5E5A5A;
    text-decoration:none;
    line-height:24px;
    padding:0px 7px 0px 0px;
    -webkit-box-shadow:0 1px 2px #D6D1D1;
    -moz-box-shadow:0 1px 2px #D6D1D1;
    box-shadow:0 1px 2px #D6D1D1;
}
#myProduct {margin-bottom: 0!important;}

#blockProduct{
    position: relative;
    display: block;
    width: 100%;
}
.ms_blockImage{
    overflow: hidden;
    display: block;
}
.ms_buttons{
    text-align: left;
}
.ms_blockPrice{
    position: absolute;
    z-index: 100;
    background: #444;
    bottom: 0;
    right: 0;
    padding: 5px;
    color: #FFF;
}
/*  Products
======================*/
.products{
    list-style:none;
    padding:0;
    margin:0 auto;
    width:100%;
}
.products li{
    display:inline-block;
    margin:5px 5px 5px 5px;
    vertical-align:top;
    background:#FFF;
    padding:5px;
/*    border:1px solid #ECECEC;*/
}
.products li .ms_image{
    display: table;
    margin:auto;
    text-align: center;
    overflow: hidden;
    margin-bottom: 5px;
}
.products li a,
.products li a img{
    width:100%;
    max-height: 100%;
    border:none;
    outline:none;
    position:relative;
    display: table-cell;
    vertical-align: middle;
}
.products li > a img:hover{}

.totalProducts{
    position:relative;
    background:#FFF;
    color:#838181;
    text-align:center;
    display:block;
    padding:0 10px 0 0;
    line-height:24px;
    border-bottom:1px solid #E9E9E9;
}

/*    Modal
===============================*/
.tbox {position:absolute; display:none; padding:14px 17px; z-index:900}
.tinner {padding:15px; -moz-border-radius:5px; border-radius:5px; background:#fff url(@site_url/plugins/mycatalog/lib/img/preload.gif) no-repeat 50% 50%; border-right:1px solid #333; border-bottom:1px solid #333}
.tmask {position:absolute; display:none; top:0px; left:0px; height:100%; width:100%; background:#000; z-index:800}
.tclose {position:absolute; top:0px; right:0px; width:30px; height:30px; cursor:pointer; background:url(@site_url/plugins/mycatalog/lib/img/close.png) no-repeat}
.tclose:hover {background-position:0 -30px}

#error {background:#ff6969; color:#fff; text-shadow:1px 1px #cf5454; border-right:1px solid #000; border-bottom:1px solid #000; padding:0}
#error .tcontent {padding:10px 14px 11px; border:1px solid #ffb8b8; -moz-border-radius:5px; border-radius:5px}
#success {background:#2ea125; color:#fff; text-shadow:1px 1px #1b6116; border-right:1px solid #000; border-bottom:1px solid #000; padding:10; -moz-border-radius:0; border-radius:0}
#bluemask {background:#4195aa}
#frameless {padding:0}
#frameless .tclose {left:6px}

.modal-body {
    max-height: 100%;
    padding: 0 auto;
}
.modal-body #data img {
    display: block;
    margin: 0 auto;
}
a {
    outline: none !important;
}